#Recognized {
    display: inherit;
    position: relative;

    ul {
        padding: 0;
    }

    h3 {
        margin: 12px 0 4px 0;
        padding: 0;
        border-bottom: solid 1px #d4d4d4;
    }

    header {
        z-index: +1;
        position: sticky;
        top: 0;
        width: 100%;
        background: #fff;
        border-bottom: solid 1px #a4a4a4;
        padding: 6px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
        
        > * {
            flex: 1;
        }

        button {
            max-width: 100px;
            font-weight: bold;
            font-size: 14px;
            text-wrap: nowrap;
            cursor: pointer;
            border-radius: 8px;
            border: solid 4px rgba(126, 136, 126, 0.73);

            &.ActiveBtn {
                background: rgb(66, 135, 66);
                border: solid 4px rgba(66, 135, 66, 0.73);
                color: #fff;
            }
        }
    }

    .SubjectImageListWrapper {
        padding: 6px;
        display: flex;
        // justify-content: space-between;
        align-items: center;
        gap: 12px;
        flex-wrap: wrap;

        > * {
            flex: 1, 1;
        }
    }

    .SubjectImage {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        min-width: 100px;
        min-height: 100px; 
        max-width: 200px;
        position: relative;

        .Checkmark {
            position: absolute;
            top: 4px;
            right: 4px;
        }

        .Similarity {
            font-weight: bold;
            font-size: 14px;
            margin: 0;
            padding: 0;
            line-height: 14px;
            position: absolute;
            right: 4px;
            bottom: 4px;
            background: #ffffff70;
        }
    }
}