#ScansPage {
  display: inherit;
  position: relative;

  .ScansFaceListWrapper {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .Page_Header {
    .InputWrap {
      padding-bottom: 4px;
      display: flex;
      gap: 4px;

      .ToggleCheckbox {
        overflow: hidden;
        border-radius: 4px;
        cursor: pointer;

        input[type="checkbox"] {
          display: none;

          @mixin active() {
            background: #85c9c2;
            display: inline-block;
            border-color: #3e605d;
            border: solid 1px;
            box-shadow: 0px 0px 3px #333;
            position: relative;
            z-index: +1;
          }

          @mixin inactive() {
            background: #eeeeee;
            display: inline-block;
            border-color: #b6b6b6;
            position: relative;
            z-index: -1;
          }

          & ~ span {
            display: inline-block;
            padding: 4px 8px;
            border: solid 1px;
            transition: ease-in-out all 0.3s;
          }

          & ~ span:nth-of-type(1) {
            @include inactive();
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            border-right: 0;
          }

          & ~ span:nth-of-type(2) {
            @include active();
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
          }

          &:checked ~ span:nth-of-type(1) {
            @include active();
            border-right: solid 1px;
          }

          &:checked ~ span:nth-of-type(2) {
            @include inactive();
            border-left: 0;
          }
        }
      }
    }
  }

  .ScansFaceList {
    margin: 4px;
    display: inline-flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    border: solid 1px #d4d4d4;
    border-radius: 4px;
    overflow: hidden;
    flex-direction: column;
    flex: auto;

    figcaption {
      padding: 4px 8px;
      display: flex;
      gap: 8px;
      justify-content: space-between;
      font-size: 12px;

      a {
        color: #1f6ebc;
      }
    }
  }

  .FaceFlexWrap {
    display: flex;
    justify-content: flex-start;
    min-height: 100px;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 4px 4px 0;
    margin: 0;
    text-transform: capitalize;

    > * {
      flex: 1;
      margin: 0 4px 4px;
      //   max-width: 100px;
    }

    > div {
      max-width: 175px;
    }

    p {
      text-align: center;
      margin: 0;
      padding: 0;
      font-size: 12px;
    }
  }
}
