.Button {
    font-size: 14px;
    background: #fff;
    border: solid 1px #949494;
    border-radius: 4px;
    padding: 4px 8px;
    color: #000;

    &.primary {
        background: #1f6ebc;
        color: #fff;
    }

    &:disabled {
        background: #ebebeb;
        border-color: #d4d4d4;
        color: #9c9c9c;
        opacity: .8;
    }
}